.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    width: auto;
}

.imageCnt{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 100%;
    background-color: #00A8E8;
}

.formCnt{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding:auto 0;
    width: 70%;
    height: 100%;
    background-color: #007EA7;
}

.formCnt h1{
    color: white;
    margin: 50px;
}

.formCnt{
    display: flex;
    justify-content: center;
    align-items: center;

}

.form{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.form input{
    margin:10px;
    padding: 10px;
    font-size: 20px;
    border-radius: 25px;
}

.save{
    padding: 10px;
    font-size: 20px;
    border-radius: 25px;
    border-style: none;
    background-color: #003459;
    color: white;
    font-weight: bold;
}

.image{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #007EA7;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    margin: 20px;
}

.imgIcon{
    height: 200px;
    width: 200px;
    color: white;
}

.btnImage{
    padding: 10px;
    font-size: 20px;
    border-radius: 25px;
    border-style: none;
    background-color: #003459;
    color: white;
    font-weight: bold;
}

.btnImage:hover, .save:hover{
    background-color: #007EA7;
}