.article{
    height: 300px;
    width: 200px;
    margin: 10px;
}

.article:hover{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.artInfo{
    background-color: rgb(40, 102, 131);
    height: 30%;
    width: 100%;
}

.artImage{
    background-color: #DEDEDE;
    height: 70%;
    width: 100%;
}

.Link{
    text-decoration: none;
}

.article h2{
    color: white;
    margin: 0;
    padding: 10px;
    padding-bottom: 5px;
    text-align: justify;
}

.article h6{
    color: white;
    margin: 0;
    padding-left: 10px;
    text-align: justify;
}

.article h5{
    color: white;
    margin: 0;
    padding-left: 10px;
    text-align: justify;
}

.artInfo h3{
    color: white;
}