.modal{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalcontent{
    background-color: #003459;
    border-radius: 25px;
    padding: 20px;
    width: 500px;
}

.modalheader, .modalfooter{
    padding: 10px;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
}



.modalbody{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 85%;
}

.inText, .password{
    background-color: #DEDEDE;
    border: none;
    border-radius: 25px;
    color: black;
    margin: 10px;
    height: 50px;
    padding: 10px;
    width: 100%;
    
}

input[type=submit]{
    font-size: 25px;
    height: 50px;
    margin: 10px;
    width: 200px;
    border-style: none;
    border-radius: 25px;
    background-color: #007EA7;
    color: white;
    transition: background-color 0.3s;
}
/* ... tus otros estilos ... */

.modalbody button {
    padding: 10px 15px;
    background-color: #007EA7;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.modalbody button:hover {
    background-color: white;
    color: black;
}


input[type=submit]:hover{
    background-color: white;
    color: black;
}

.modaltittle{
    color: white;
}

.close{
    position: absolute;
    right: 20px;
}

.closeIcon{
    border: none;
    padding: 10px 20px;
    height: 50px;
    width: 50px;
    font-weight: bold;
    background-color: #007EA7;
    color: white;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.closeIcon:hover{
    background-color: white;
    color: black;
}
.successMessage {
    background-color: #e0ffe0; /* Un verde claro */
    color: #33cc33;  /* Un verde oscuro */
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #33cc33;
    border-radius: 5px;
    text-align: center;
  }
  