.titulo{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    margin-top: 10px;
    margin-right: 300px;
    color: white;    
}

p, h2 {
    color: white;
}

.main{
    background-color: #00171F;
}

.cont_principal{
    display: flex;
    align-items: center;
}

.barra_sup{
    padding:10px;
    text-align: center;
}

.columna_izq{
    flex:1;
    margin: 40px;
    height: 100vh;
    overflow: auto;
    position: sticky;
    display:flex;
    flex-wrap: wrap;
    top: 0;
}

.columna_der{
    flex:1;
    flex-direction: column;
    
    width: 40%;
    height: 100vh;
    overflow: hidden;
}

.desc{
    flex: 0.6;
    height: 100vh;
    text-align: left;
    padding-left: 20px;
}

.precio{
    flex: 0.4;
    height: 100vh;
}

.botonRegresar{
    background-color: #003459;
    color: white;
    border-style: none;
    border-radius: 30px;
    text-decoration: none;
    width: 20px;
    height: 80px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-right: 10px;
    margin-top: 15px;
    padding: 10px;
}

.botonRegresar:hover{
    background-color: #007EA7;
}

.subtitulo{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.parteInf{
    flex: 1;
    display: flex;
}

.texto{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
}