.main{
    background-color: #00171F;
}

.main h1{
    color:white;
}

.logo {
    color: white;
    flex-grow: 1;
    
}
.div1{
    display: flex;
    justify-content: start;
    flex-grow: 6;

}

.div2{
    display: flex;
    justify-content: end;
    flex-grow: 1;
}
ul {
    width: auto;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    width:auto;
}

li{
    display: inline;
    color: black;
    padding:50px;
    font-size: 1.25rem;
    padding: inherit;
}


.Link:hover{
    color: aqua;
}

.Link{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.items{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width:83rem;
    margin: 0 auto;
}